version: "3"
services:
  webserver:
    build:
      context: ./webserver
      dockerfile: Dockerfile
    depends_on:
      - postgres
    environment:
      - PYTHONUNBUFFERED=1
    ports:
        - "5001:80"
    # For testing purposes only
    volumes:
      - ./webserver:/code #
    command: ["./wait-for-it.sh","-t","0","postgres:5432", "--", "python3", "flask_app.py"]
  postgres:
    build:
        context: ./database
        dockerfile: Dockerfile
    environment:
      - POSTGRES_USER=cardamom
      - POSTGRES_PASSWORD=cardamom9867
    volumes:
        - ./database/postgres-data:/var/lib/postgresql/data
        # - ./sql/create_tables.sql:/docker-entrypoint-initdb.d/create_tables.sql
    ports:
      - "54321:5432"
