.pos-token {
  margin: 1px;
  background-color: #E5E5E5;
  white-space: pre-wrap;
}

.pos-token:hover {
  cursor: pointer;
  color: black;
}

.pos-gap {
  margin: 1px;
  color: lightgrey;
}

.pos-gap:hover {
  cursor: not-allowed;
}

/* border-bottom: 5px solid rgb(5, 130, 15); */
.class1 {
  background-color: rgb(115, 200, 250);
}

.class2 {
  background-color: rgb(0, 215, 45);
}

.class3 {
  background-color: #c0c0c0;
}

.class4 {
  background-color: #2f4f4f;
}

.class5 {
  background-color: #8b4513;
}

.class6 {
  background-color: #191970;
}

.class7 {
  background-color: #b03060;
}

.class8 {
  background-color: rgb(0, 215, 45);
}

.class9 {
  background-color: #ff4500;
}

.class10 {
  background-color: #ff4500;
}

.class11 {
  background-color: #ff4500;
}

.class12 {
  background-color: #0000cd;
}

.class13 {
  background-color: #7cfc00;
}

.class14 {
  background-color: rgb(0, 215, 45);
}

.class15 {
  background-color: #00ffff;
}

.class16 {
  background-color: #00ffff;
}

.class17 {
  background-color: #ffff00;
}
