body{
  padding: 0px;
  margin: 0px;
}

.annotation-area {
  margin: 10px;
}

.annotation-text {
  overflow-y: scroll;
  border: 1px solid black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.save-button{
  text-align: right;
}